* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 0 81px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.46);
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}
nav p:first-child {
  font-weight: 800;
  font-size: 24px;
  font-family: sans-serif;
}
nav button {
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 16px;
}
nav button:hover {
  background: rgb(21, 255, 0);
  transition: all 0.2s linear;
}

section {
  padding-top: 130px;
}
section .container .search-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
section .container .search-wrapper input {
  width: 480px;
  height: 56px;
  padding-left: 50px;
  padding-right: 20px;
  font-size: 24px;
  border: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.469);
  outline: none;
  border-radius: 16px;
  font-family: sans-serif;
}
section .container .search-wrapper i {
  position: absolute;
  font-size: 24px;
  left: 15px;
}
section .container .search-wrapper select {
  width: 200px;
  height: 56px;
  font-size: 24px;
  padding: 0 20px;
  border: none;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.469);
  border-radius: 16px;
  font-family: sans-serif;
  font-weight: 600;
}
section .container #card-flag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 30px;
}
section .container #card-flag .card {
  overflow: hidden;
  border-radius: 16px;
  width: 267px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section .container #card-flag .card img {
  width: 267px;
  height: 160px;
  object-fit: cover;
}
section .container #card-flag .card .card-body {
  padding: 0 24px;
  margin-top: 24px;
  padding-bottom: 20px;
}
section .container #card-flag .card .card-body h5 {
  font-weight: 800;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 16px;
}
section .container #card-flag .card .card-body p {
  margin-bottom: 15px;
}
section .container #card-flag .card .card-body p span {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 14px;
}

.dark-Mode * {
  background: #202c36 !important;
  color: white !important;
}
